.form {

  &_add-review {
  }

  &_sign-in {
  }

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;
    margin-bottom: 32px;

    &_user {
      margin-bottom: 46px;
    }

    &_service {
      margin-bottom: 46px;
    }

    &_password {
      margin-bottom: 36px;
    }
  }

  &__label {
    flex: 1 1 310px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    &_textarea {
      grid-column: span 2;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 19px;    
  }

  &__input {
    background: $light;
    border-radius: 8px;
    width: 100%;
    height: 46px;
    padding: 5px 14px;
    border: none;

    ::placeholder {
      color: $placeholder;
    }

    &_password {
      padding-right: 44px;
    }
  }

  &__select {
    background: $light;
    border-radius: 8px;
    width: 100%;
    height: 46px;
    padding: 5px 14px;
    border: none;
  }

  &__option {
    color: $select;
  }

  &__price {
    display: flex;
    gap: 5px;

    &_select {
      width: 105px;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 80px;
    border: none;
    padding: 14px;
    background: $light;
    border-radius: 8px;
  }

  &__password {
    position: relative;
    width: 100%;
  }

  &__password-eye {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('img/eye-hide.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    &_show {
      background-image: url('img/eye-show.svg');
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rating {
    margin-left: auto;
    margin-right: 24px;
  }

  &__avatar {

  }

  &__submit {
    background-color: $hover;
    width: 198px;
    height: 39px;
    border-radius: 4px;

    &:hover {
      background-color: $active;
    }

    &_sign-up {
      align-self: flex-end;
    }

    &_sign-in {
      width: 86px;
      margin-left: auto;
    }
  }
}

