.header {
  padding: 26px 0 25px;

  &__container {
    display: flex;
    align-items: center;
    gap: 18px 30px;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__logo {
    margin-right: 58px;

    @include laptop {
      margin-right: 38px;
    }

    @include tablet {
      margin-right: 0;
    }
  }

  &__search {

    @include tablet {
      order: 1;
    }
  }

  &__auth {
    display: flex;
    gap: 40px;
    margin-left: auto;
  }

  &__auth-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }

  &__svg {
    flex: 0 0 24px;
  }

  &__text {
    display: block;

    @include mobile {
      display: none;
    }
  }
  
}
