.services {
  padding: 25px 0;

  @include tablet {
    padding-top: 5px;
  }

  &__container {
    display: flex;
    gap: 4px 20px;
  
    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      gap: 20px;
    }
  }

  &__list {
    flex: 1 1 100%;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

}
