html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $back;
  color: $text;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
fieldset {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}

button {
  display: block;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

input,
textarea {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(1180px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}